# General #
tpServerDocs.md
vetur.config.js

# Vue #
client/node_modules
client/.env
client/tests/coverage

# Django #
**/__pycache__
api/db.sqlite3
api/api/.env 
api/.coverage
api/coverage.xml
api/htmlcov